/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
li.nav-item {
    font-size: smaller;
}

div.main-container {
    display: flex;
    justify-content: space-around;
}

img.img-responsive {
    image-rendering: pixelated;
}

rightsidebar>div.col-md-4,
leftsidebar>div.col-md-4 {
    width: auto !important;
    display: inline-flex;
    flex-direction: column;
}

rightsidebar,
leftsidebar {
    display: inline-flex;
    flex-direction: column;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

section:nth-child(3) {
    height: 24vw !important;
}

section:nth-child(3) .image-container.index_0:hover .image.index_0 {
    opacity: 0.7;
}

section:nth-child(3) .image-container:hover.index_0+.middle.index_0 {
    opacity: 1;
}

section:nth-child(3) .image-container.index_1:hover .image.index_1 {
    opacity: 0.7;
}

section:nth-child(3) .image-container:hover.index_1+.middle.index_1 {
    opacity: 1;
}

section:nth-child(3) .image-container.index_2:hover .image.index_2 {
    opacity: 0.7;
}

section:nth-child(3) .image-container:hover.index_2+.middle.index_2 {
    opacity: 1;
}

section:nth-child(3) .image-container.index_3:hover .image.index_3 {
    opacity: 0.7;
}

section:nth-child(3) .image-container:hover.index_3+.middle.index_3 {
    opacity: 1;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

section:nth-child(3)>div.image-placeholder {
    display: flex;
}

section:nth-child(3)>div.text {
    color: white;
}

main>div.container {
    position: sticky;
    top: 0px;
    background: #fff;
    max-width: 100vw !important;
    z-index: 100;
    width: 100vw;
}

section:nth-child(2n) {
    justify-content: flex-end;
}

.nav-pills:not(.active) .nav-link:not(.active) {
    color: black !important;
}

.mySlides {
    display: none;
}

.mySlides.show {
    display: block;
}

@media (max-width: 1200px) {
    div.main-container {
        flex-direction: column;
    }

    section:nth-child(3) div.text {

        color: black
    }

    section:nth-child(3)>div.image-placeholder {
        flex-direction: column;
    }

    header>svg {
        display: none;
    }

    rightsidebar,
    leftsidebar {
        align-items: center;
        order: 1;
    }
}

.nav-pills .nav-link.active {
    background-color: #fadde4 !important;
}

@media (max-width: 800px) {
    section>div.text {
        width: 80vw !important;
    }


    section>div.text>h2 {
        font-size: 60px !important;
    }

    section>div.text>div {
        font-size: 17px !important;
    }

    div.image-placeholder {
        position: relative !important;
    }

    section:nth-child(3) {
        height: auto !important;
    }

    content>section {
        flex-direction: column-reverse;
        height: auto !important;
    }
}